@font-face{
    font-family:'uvn_baybuomhep_n';
    src:url('../fonts/UVNBayBuomHep_N.eot?v=4.0.3');
    src:url('../fonts/UVNBayBuomHep_N.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('../fonts/UVNBayBuomHep_N.woff?v=4.0.3') format('woff'),url('../fonts/UVNBayBuomHep_N.ttf?v=4.0.3') format('truetype'),url('../fonts/UVNBayBuomHep_N.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal}
